openapi: 3.2.0
info:
  title: NESO Data Portal Metadata API
  description: 'The National Energy System Operator (NESO) Data Portal API is a CKAN v3 API providing programmatic access to NESO datasets including wind forecasts, demand predictions, balancing services, transmission constraints, and other UK energy system data. Rate limits: maximum 1 request per second for the CKAN API and 2 requests per minute for the Datastore API.'
  version: '3'
  contact:
    name: NESO Data Portal
    url: https://www.neso.energy/data-portal
  termsOfService: https://www.neso.energy/data-portal/api-guidance
servers:
- url: https://api.neso.energy/api/3/action
  description: NESO CKAN API production endpoint
tags:
- name: Metadata
  description: Retrieve metadata for datasets and resources.
paths:
  /package_show:
    get:
      tags:
      - Metadata
      summary: Show dataset
      description: Returns the details of a single dataset.
      operationId: packageShow
      parameters:
      - name: id
        in: query
        required: true
        description: Dataset identifier or slug.
        schema:
          type: string
      responses:
        '200':
          description: Dataset details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CkanResponse'
  /resource_show:
    get:
      tags:
      - Metadata
      summary: Show resource
      description: Returns metadata for a single resource, including modification date for change-detection.
      operationId: resourceShow
      parameters:
      - name: id
        in: query
        required: true
        description: Resource identifier (UUID).
        schema:
          type: string
      responses:
        '200':
          description: Resource metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CkanResponse'
components:
  schemas:
    CkanResponse:
      type: object
      description: Standard CKAN API response envelope.
      properties:
        help:
          type: string
          description: URL to the help endpoint for the action.
        success:
          type: boolean
          description: Whether the request was successful.
        result:
          description: Action-specific payload.
